body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #FBDD74;
  font-family: 'Poppins', sans-serif;
  color: #294910;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
}

h1 {
  font-size: 10vw;
  margin: 0 20px;
  line-height: 1.4;
}

h2 {
  margin: 0 20px 20px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
}

figure {
  position: relative;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #FFFFFF;
}

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
}

img {
  display: none;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

img.display {
  display: block;
}

img.hide {
  display: none;
}

aside {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #E8E8E8;
  z-index: 2;
}

.loading-bar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 75%;
}

progress {
  height: 20px;
  width: 100%;
  border: 2px solid #294910;
}

progress[value]::-webkit-progress-bar {
  background-color: #E8E8E8;
}

progress[value]::-webkit-progress-value {
  background-color: #294910;
}

progress[value]::-moz-progress-bar {
  background-color: #294910;
}

@media screen and (max-width: 800px) {
  section {
    flex-direction: column;
  }

  header {
    width: 100vw;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 20px;
  }

  figure {
    width: 100vw;
  }

  figcaption {
    font-size: 30px;
  }
}